<!DOCTYPE html>
<html>
<head>
    <title>TeachMe | Activity Log</title>

    <meta charset="UTF-8">
    <link href="/../stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/../stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/../stylesheets/accordion.css" rel="stylesheet" type="text/css" media="all" />

    <!-- js -->
    <script src="/../javascripts/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="/../javascripts/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="/../javascripts/bootstrap-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- //for bootstrap working -->

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- animation-effect -->
    <link href="/../stylesheets/animate.min.css" rel="stylesheet"> 
    <script src="/../javascripts/wow.min.js"></script>
    <script>
    new WOW().init();
    </script>
    <!-- //animation-effect -->

</head>
	
<body>
    <!-- header -->
    <% include partials/admin-header %>

    <!-- search-scripts -->
    <script src="/../javascripts//classie.js"></script>
    <script src="/../javascripts//uisearch.js"></script>
        <script>
            new UISearch( document.getElementById( 'sb-search' ) );
        </script>
    <!-- //search-scripts -->
    
    
    <!-- //header -->

    <!-- single -->
        <div class="register">
            <div class="container">
                <h3 class="animated wow zoomIn" data-wow-delay=".5s"><%= user.firstName %>'s Activity</h3>
                <div class="col-md-8 single-right">
                    <div class="clearfix"> </div>
                    <div class="bootstrap-tab animated wow slideInUp" data-wow-delay=".5s">
                        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#user-details" id="user-details-tab" role="tab" data-toggle="tab" aria-controls="user-details" aria-expanded="true">User Details</a></li>
                                <li role="presentation"><a href="#login-activity" role="tab" id="login-activity-tab" data-toggle="tab" aria-controls="login-activity">Login Activity</a></li>
                                <li role="presentation"><a href="#purchases" role="tab" id="purchases-tab" data-toggle="tab" aria-controls="purchases">Purchases</a></li>
                                <li role="presentation"><a href="#cart" role="tab" id="cart-tab" data-toggle="tab" aria-controls="cart">Shopping Cart</a></li>
                            
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="user-details" aria-labelledby="user-details-tab">
                                    <h5>User Details</h5>
                                    <p>
                                        <u>First Name:</u> <%= user.firstName %><br>
                                        <u>Last Name:</u> <%= user.lastName %><br>
                                        <u>Email:</u> <%= user.email %><br>
                                        <u>Is a Teacher:</u> <%= user.isTeacher %><br>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in bootstrap-tab-text" id="login-activity" aria-labelledby="login-activity-tab">
                                    <h5>The User Logged In On:</h5>
                                    <p>
                                        <% for (let i = 0; i < user.loginActivity.length; i++) { %>
                                            <%= user.loginActivity[i] %>
                                            <br>
                                        <% } %>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in bootstrap-tab-text" id="purchases" aria-labelledby="purchases-tab">
                                    <h5>Purchase History</h5>
                                    <p>
                                      <div class="accordion">
                                        <% for (let i = 0; i < userPurchases.length; i++) { %>
                                        <div class="accordion-item">
                                                <div class="accordion-item-header">
                                                    Order No. <%= userPurchases[i].orderID %> - <%=  userPurchases[i].checkoutDate  %>
                                                </div>
                                            <div class="accordion-item-body">
                                                <div class="accordion-item-body-content">
                                                    <u><h4>Classes</h4></u><br>
                                                    <% for (let j = 0; j < userPurchases[i].items.length; j++) { %>
                                                        <div class="purchase-row">
                                                            <div class="purchase-column">
                                                                <p>Title:</p>
                                                                <p>Instructor's Name:</p>
                                                                <p>Price:</p>
                                
                                                            </div>
                                                            <div class="purchase-column">
                                                              <p><%= userPurchases[i].items[j].title %></p>
                                                              <p><%= userPurchases[i].items[j].instructor.name %></p>
                                                              <p><%= userPurchases[i].items[j].price %> $</p>
                                                            </div>
                                                        </div>
                                                          <br>
                                                    <% } %>
                                                    <hr style="width:50%;text-align:left;margin-left:0">
                                                    Total price : $<%= userPurchases[i].totalPrice %>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div> 
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in bootstrap-tab-text" id="cart" aria-labelledby="cart-tab">
                                    <h5>Shopping Cart</h5>
                                    <p>
                                            <table class="timetable_sub">
                                                <thead>
                                                    <tr>
                                                        <th>Lesson #</th>	
                                                        <th>Title</th>
                                                        <th>Subject</th>
                                                        <th>Description</th>
                                                        <th>Time</th>
                                                        <th>Instructor</th>
                                                        <th>Price</th>
                                                    </tr>
                                                </thead>
                                                <% for (let i = 1; i < userCart.items.length + 1; i++) { %>
                                                <tr class="rem<%= i %>">
                                                    <td class="invert"><%= i %></td>
                                                    <td class="invert"><%= userCart.items[i-1].title %></td>
                                                    <td class="invert"><%= userCart.items[i-1].subject %></td>
                                                    <td class="invert"><%= userCart.items[i-1].details %></td>
                                                    <td class="invert"><%= userCart.items[i-1].startTime %> - <%= userCart.items[i-1].endTime %></td>
                                                    <td class="invert-image"><img height="100" width="100" src="/images/users/default.jpg" alt="instructor" class="img-responsive" /> <%= userCart.items[i-1].instructor.name %></td>
                                                    <td class="invert">$<%= userCart.items[i-1].price %></td>
                                                </tr>
                                                <% } %>
                                            </table>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    <!-- //single -->
    <!-- footer -->
    <% include partials/footer %>
    <!-- //footer -->
    <!-- zooming-effect -->
        <script src="js/imagezoom.js"></script>
        <script type="text/javascript" src="/../javascripts/accordion.js" defer></script>
        <script type="text/javascript" src="/../javascripts/accordion.js" defer></script>


    <!-- //zooming-effect -->
</body>
</html>