<!DOCTYPE html>
<html>
<head>
    <title>TeachMe | Shopping Cart</title>
	<% include partials/head %>

</head>
	
<body>
<!-- header -->
	<% include partials/logged-header %>
<!-- //header -->

<!-- checkout -->
<div class="checkout">
    <div class="container">
        <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart contains: <span>3 Products</span></h3>
        <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Lesson #</th>	
                        <th>Title</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Time</th>
                        <th>Instructor</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <% for (let i = 1; i < userCart.items.length + 1; i++) { %>
                <tr class="rem<%= i %>">
                    <td class="invert"><%= i %></td>
                    <td class="invert"><%= userCart.items[i-1].title %></td>
                    <td class="invert"><%= userCart.items[i-1].subject %></td>
                    <td class="invert"><%= userCart.items[i-1].details %></td>
                    <td class="invert"><%= userCart.items[i-1].startTime %> - <%= userCart.items[i-1].endTime %></td>
                    <td class="invert-image"><img height="100" width="100" src="images/guitar-Efi.jpeg" alt="instructor" class="img-responsive" /> <%= userCart.items[i-1].instructor %></td>
                    <td class="invert">$<%= userCart.items[i-1].price %></td>
                    <td class="invert">
                        <div class="rem">
                            <div class="close<%= i %>"> </div>
                        </div>
                        <script>$(document).ready(function(c) {
                            $('.close<%= i %>').on('click', function(c){
                                $('.rem<%= i %>').fadeOut('slow', function(c){
                                    $('.rem<%= i %>').remove();
                                });
                                });	  
                            });
                       </script>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
        <div class="checkout-left">	
            <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                <h4>Checkout</h4>
                <ul>
                    <% for (let i = 0; i < userCart.items.length; i++) { %>
                        <li><%= userCart.items[i].title %><i></i> <span>$<%= userCart.items[i].price %></span></li>
                    <% } %>
                    
                    <li class="total-price">Total <i>-</i> <span>$<%= userCart.totalPrice %></span></li>
                </ul>
            </div>
            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a href="store">Continue Shopping</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //checkout -->

<!-- footer -->
<% include partials/footer %>
<!-- //footer -->
</body>
</html>