<!DOCTYPE html>
<html>
	<head>
		<title>TeachMe | Store</title>
		<% include partials/head %>
	</head>
		
	<body>
	<!-- header -->
		<% include partials/logged-header %>
	<!-- //header -->
	<!-- collections -->
	<div class="new-collections">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">All Lessons</h3>
			<% for (let i = 0; i < lessons.length ; i++) { %>
				<div class="new-collections-grids">
				<% for (let j = 0 ; j < lessons[i].length ; j++){ %>
					<div class="col-md-4">
						<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
							<div class="new-collections-grid1-image">
								<div class="lesson-image"><a href="/store/lesson/<%= lessons[i][j].id %>" class="product-image"><img width="150" height="150" src="<%= lessons[i][j].instructor.imageURL %>" alt=" " class="img-responsive" /></a>
								</div>
									<div class="new-collections-grid1-image-pos">
									<a href="/store/lesson/<%= lessons[i][j].id %>">View Details</a>
								</div>
								<div class="new-collections-grid1-right">
								</div>
							</div>
							<h4><a href="/store/lesson/<%= lessons[i][j].id %>"><%= lessons[i][j].title %></a></h4>
							<p>Instructor: <%= lessons[i][j].instructor.name %></p>
							<p>Time: <%= lessons[i][j].startTime%> - <%= lessons[i][j].endTime %></p>
							<div class="new-collections-grid1-left simpleCart_shelfItem">
								<p><span class="item_price">$<%= lessons[i][j].price %></span><a class="item_add" onclick="addToCart('<%= lessons[i][j].id %>')">add to cart </a></p>
							</div>
						</div>
					</div>
				<% } %>
				</div>
				<div class="clearfix"> </div>
			<% } %>
		</div>
	</div>
	<!-- //collections -->
	<!-- footer -->
	<% include partials/footer %>
	<!-- //footer -->
	<!-- javascript -->	
	<script type="text/javascript" src="../javascripts/store.js"></script>
	<!-- //javascript -->
	</body>
</html>