<!DOCTYPE html>
<html>
<head>
    <title>TeachMe | Store</title>
	<% include partials/head %>

</head>
	
<body>
<!-- header -->
	<% include partials/admin-header %>
<!-- //header -->

<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
        		<h3>Learn Everything Anywhere</h3><br>
        		<h4>Expand Your Skills Set And Start Learning</h4><br>
				<div class="wmuSlider example1">
				</div>
			</div>
		</div>
    </div>
					<script src="../javascripts/jquery.wmuSlider.js"></script> 
					<script>
						$('.example1').wmuSlider();         
					</script> 
			</div>
		</div>
	</div>
<!-- //banner -->

<!-- users-list -->
<div class="new-collections">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">All Users</h3>
    </div>
</div>
<div class="checkout">
    <div class="container">
        <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>	
                        <th>User First Name</th>
                        <th>User Last Name</th>
                        <th>Email</th>
                        <th>Is a Teacher</th>
                        <th>Activity Log</th>
                    </tr>
                </thead>
                <% for (let i = 1; i < users.length + 1; i++) { %>
                <tr class="rem<%= i %>">
                    <td class="invert"><%= i %></td>
                    <td class="first-name"><%= users[i-1].firstName %></td>
                    <td class="last-name"><%= users[i-1].lastName %></td>
                    <td class="email"><%= users[i-1].email %></td>
                    <% if (users[i-1].isTeacher) { %>
                        <td class="is-teacher">Yes</td>
                    <% } else { %>
                        <td class="is-teacher">No</td>
                    <% } %>
                    <td><a href="/users/activity-log/<%= users[i-1].id %>">view activity</a></form></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>
<!-- //users-list -->

<!-- footer -->
<% include partials/footer %>
<!-- //footer -->
</body>
</html>